<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hut.product.mapper.ProductFullReductionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hut.common.entity.pms.ProductFullReduction">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="full_price" property="fullPrice"/>
        <result column="reduce_price" property="reducePrice"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id AS productId, full_price AS fullPrice, reduce_price AS reducePrice
    </sql>
    <insert id="insertList">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into pms_product_full_reduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="fullPrice != null">
                full_price,
            </if>
            <if test="reducePrice != null">
                reduce_price,
            </if>
        </trim>
        <foreach collection="list" separator="," item="item" index="index">
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="productId != null">
                    #{productId,jdbcType=BIGINT},
                </if>
                <if test="fullPrice != null">
                    #{fullPrice,jdbcType=DECIMAL},
                </if>
                <if test="reducePrice != null">
                    #{reducePrice,jdbcType=DECIMAL},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>
