<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hut.product.mapper.ProductFullReductionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hut.common.entity.pms.ProductFullReduction">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="full_price" property="fullPrice" />
        <result column="reduce_price" property="reducePrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id AS productId, full_price AS fullPrice, reduce_price AS reducePrice
    </sql>

</mapper>
